header {
	background-color: white;
	height: 75px;
}
.btntable {
	
	float: left;
	padding: 10px;
	margin: 50px 10px 1px 50px;
	text-align: center;
	

}

h1 {
	height: 75px;
	width: 10%;
	padding: 1px;
	background-color: #4aaaa5;
	margin: 0 1000px 10px 10px;
	float: left;
	text-align: center;
}
tr {
	float: left;
}